.works {
  max-width: 850px;
  padding-bottom: 32px;
  padding-top: 29px;
  font-family: 'Heebo';
  text-align: left;
  color: #21243d;
  left: 50%;
  transform: translateX(-50);
}
.works_header {
  text-align: left;
}
.work_title {
  text-align: left;
}
.works_pages {
  height: 100%;
  margin-left: 0px;
  left: 0px;
  padding-left: 0px;
  background-color: blueviolet;
}
.homepages_title {
  text-align: left;
  margin-left: 25%;
}
.works:last-child {
  display: none;
}
