/* * {
  box-sizing: border-box;
}

.works {
  
}
.works_title {
  
}
.work_featured {
  width: 856px;
  display: flex;
  position: relative;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
}
.works_container {
  text-align: left;
  display: flex;
  flex-direction: row;
  padding-bottom: 32px;
  padding-top: 31px;
  border-bottom: 1px solid #e0e0e0;
}
.works_content {
  padding-left: 10px;
}
.works_title {
  font-size: 30px;
  font-weight: 700;
  line-height: 44px;
}

.menu_link {
  color: #21243d;
  font-family: 'Heebo';
  font-style: Bold;
  font-size: 30px;
  line-height: 44px;
  align-items: left;
}


.works_description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.works:last-child {
  display: flex;
}
@media (max-width: 375px) {
  .works {
    text-align: center;
    margin: 0 auto;
    padding: auto 10px;
  }
  .works_imge {
    width: 344px;
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
  .works_content {
    height: 60px;
  }
  .work_featured {
    max-width: 370px;
    padding-left: 18px;
    padding-right: 18px;
  }
  .works_header {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 60px;
  }
  .works_container {
    display: flex;
    flex-direction: column;
  }
  .works_title {
    text-align: left;
  }
  
  .works_description {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  a .menu_link {
  }
} */
