.main {
  width: 100%;
  min-width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0 20px;
  font-family: 'Heebo', sans-serif;
  text-align: left;
  color: #21243d;
  left: 75%;
  transform: translateX(-50%);
}

.main h1 {
  padding: 50px 0px 0px 0px;
  margin: 0px 0px;
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
}
.main_blog {
  width: 607px;
  margin: 0px 0px;
  flex-direction: column;
  justify-content: start;
  border-bottom: solid 1px #8695a4;
  padding-bottom: 60px;
}
.main_blog_title {
  padding-top: 40px;
  padding-bottom: 0px;
  font-weight: 110;
  line-height: 55px;

  font-style: 'Medium';
  font-size: 30px;
  color: #21243d;
}
.main_format {
  color: #8695a4;
}
.main_blog_text {
  box-sizing: border-box;
  height: 43px;
  border-radius: 'undefinedpx';
  font-family: 'Heebo';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
.main_blog_text:last-children {
  margin: 0px 0px 0px 0px;
  padding-top: 0px;
  padding-bottom: 50px;
}
@media (max-width: 410px) {
  .main {
  }

  .main h1 {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px;
    font-size: 30px;
  }
  .main_blog {
    width: 339px;
    margin: 0px 0px;
  }
  .main_blog_title {
    padding-top: 20px;
    font-weight: 90;
    line-height: 37px;
    font-size: 23px;
  }
  .main_format {
    color: #8695a4;
  }
  .main_blog_text {
    box-sizing: border-box;
    height: 43px;
    border-radius: 'undefinedpx';
    font-family: 'Heebo';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }
  .main_blog_text:last-children {
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
    padding-bottom: 50px;
  }
}
